.navbarContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(147,51,234,.3);
    margin: 24px 4rem;
    padding: 0.5rem 2rem;
    border-radius: 16px;
    backdrop-filter: blur(12px);
    z-index: 10;
    position: sticky;
    top: 24px;
}

.navbarContainer img{
    height: 70px;
}

.maxScreenSizeMenu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-behavior: smooth;
    gap: 2.5rem;
}

.navbarContainer a{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 7px 0px;
    position: relative;
    opacity: 0.8;
    line-height: 1.75rem;
}

.navbarContainer a:hover{
    opacity: 1;
    scale: 1.1;
    transition: all 0.3s;
    cursor: pointer;
}

.navbarContainer a::after{
    background-color: #ffffff;
    content: "";
    position: absolute;
    height: 4px;
    left: 0;
    bottom: 0;
    width: 0;
    border-radius: 2px;
    transition: all 0.2s;
}

.navbarContainer a:hover:after{
    width: 100%;
}

.midScreenSizeMenu, .threeOutlineIcon, .crossIcon, .dropdown_menu{
display: none !important;
}

@media (max-width:785px) {

    .maxScreenSizeMenu{
        display: none !important; 
    }

    .midScreenSizeMenu{
        display: flex !important;
        align-items: center;
        justify-content: space-between;
        gap: 2.5rem;
    }

    .iconsDisplay{
        font-size: 1.5rem;
    }

    .navbarContainer li{
        padding: 1px;
    }

    .navbarContainer a::after{
        height: 2px;
    }  

}

@media (max-width:580px) {

    .navbarContainer img{
        height: 45px;
    }

    .navbarContainer{
        margin: 24px;
        padding: 10px 1rem;
    } 

    .midScreenSizeMenu{
        display: none !important;
    }

    .threeOutlineIcon, .crossIcon{
        display: block !important;
        font-size: 25px;
    }

    .dropdown_menu{
        display: flex !important;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        top: 5rem;
        left: 0;
        gap: 3rem;
        position: absolute;
        width: 100%;
        border-radius: 1.5rem;
        background-color: rgb(53 27 87);
        padding: 1.5rem 0px;
    }

    .dropdown_menu{
        animation: growDown 300ms ease-in-out forwards;
        transform-origin: top center;
    }
    
    @keyframes growDown {
        0% {
            transform: scaleY(0)
        }
        80% {
            transform: scaleY(1.1)
        }
        100% {
            transform: scaleY(1)
        }
    }

    .navbarContainer ul li{
        padding: 5px;
    }
    
}




