/* ProjectCard */
.projectCard {
    display: flex;
    flex-direction: column;
    position: relative;
    margin: 30px auto;
    width: 300px;
    transition: 0.25s ease;
    padding: 20px;
    border-radius: 10px;
  }
  
  .projectImageContainer {
    display: flex;
    width: 300px;
    height: 196px;
    border-radius: 10px;
    background-color: rgba(245, 245, 245, 0.266);
    position: relative !important;
  }
  
  .projectCard img {
    width: 280px;
    border-radius: 10px;
    transition: 0.25s ease;
    margin: auto;
  }
  
  .viewIcon {
    display: none;
  }
  
  .projectImageContainer:hover img {
    scale: 1.1;
    opacity: 0.8;
  }
  
  .projectImageContainer:hover .viewIcon {
    position: absolute !important;
    left: 45%;
    top: calc(100% - 110px);
    display: block !important;
    font-size: 25px;
    background-color: rgba(195, 190, 206, 0.765);
    padding: 5px;
    border-radius: 10px;
    opacity: 0.8;
  }
  
  .projectInfo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .projectInfo h2 {
    color: hsl(0, 0%, 98%);
    font-weight: 500;
  }
  
  .githubIcon {
    font-size: 25px;
  }
  
  .githubIcon:hover {
    opacity: 0.5 !important;
  }
  
  .githubIcon:hover .viewIcon {
    display: none;
  }
  
  .projectCard p {
    color: hsla(0, 0%, 84%, 0.7);
    font-weight: 400;
    line-height: inherit;
    font-size: 15px;
    margin-top: 0;
  }
  
  /* Project */
  .projectContainerWrapper {
    margin: 3rem 6rem 2rem;
    padding-top: 2rem;
    min-height: 80vh;
    max-height: fit-content;
  }
  
  .projectContainerWrapper h3 {
    padding: 3rem 0rem 2rem;
  }
  
  .projectCardContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 0 0.5%;
  }
  
  @media (max-width: 1290px) {
    .projectCardContainer {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 900px) {
    .projectCardContainer {
      grid-template-columns: repeat(1, 1fr);
      padding: 0;
    }
  }
  
  @media (max-width: 580px) {
    .projectContainerWrapper {
      margin: 2rem 40px 3rem;
    }
  }
  
  @media (max-width: 430px) {
    .projectCard {
      width: 260px;
      padding: 0px;
    }
  
    .projectImageContainer {
      width: 260px !important;
      height: 170px !important;
    }
  
    .projectCardContainer {
      gap: 0px;
    }
  
    .projectCard img {
      width: 240px;
    }
  }
  