.resumeContainer{
    display: flex;
    flex-direction: column;
    width: 50%;
    justify-content: space-between;
    align-items: center;
    margin: 50px auto;
}
.myResume{
    padding-bottom: 50px;
}
.downloadButton{
    padding: 1rem 2rem;
    border-radius: 15px;
    color:white;
    border: 1px solid white; 
}
.downloadButton:hover{
    background-image: linear-gradient(to right,var(--tw-gradient-stops));
    --tw-gradient-stops: var(--tw-gradient-from),var(--tw-gradient-to);
    border: 1px solid transparent; 
    transition:all ease-in-out 0.5s;
}